{% extends "base.html" %}

{% block title %}
  Анфиса для друзей. Главная
{% endblock %}

{% block content %}
{% for ice_cream in ice_cream_list %}
  <!-- Выводим id и title объекта IceCream -->
  <h3>{{ ice_cream.title }} ID: {{ ice_cream.id }}</h3> 
  ...
  <!-- Выводим поля связанного объекта Category альтернатива запросу №3 -->
  <p>Категория: {{ ice_cream.category.title }}</p>
  <p>Слаг категории: {{ ice_cream.category.slug }}</p>
  <p>Порядок отображения: {{ ice_cream.category.output_order }}</p>
{% endfor %}
{% endblock %}


{% comment %} {% block content %}
    html код для запроса №3 
{% for ice_cream in ice_cream_list %}
  <h3>{{ ice_cream.title }} ID: {{ ice_cream.id }}</h3>
  <p>Категория: {{ ice_cream.category__title }}</p>
{% endfor %} 
{% endblock %} {% endcomment %}


{% comment %} {% block content %}
<!-- Выведем название категории через точечную нотацию запрос №2-->
  <h1 class="pb-2 mb-0">Главная страница</h1>
  {% for ice_cream in ice_cream_list %}  
    <h3>{{ ice_cream.title }} ID: {{ ice_cream.id }}</h3>
    <p>Категория: {{ ice_cream.category.title }}</p>
  {% endfor %}
{% endblock %}  {% endcomment %}

{% comment %} {% block content %}
  <h1 class="pb-2 mb-0">Главная страница</h1>
  <hr>
  <a href="{% url 'about:description' %}"> <p> Слава, ты красавчег) </p></a>
  {% for ice_cream in ice_cream_list %}
  <hr>
  <h1>{{ ice_cream.title }}</h1>
  <p>ID: {{ ice_cream.id }}</p>
  <p>{{ ice_cream.description }}</p> 
  {% endfor %}
{% endblock %} {% endcomment %}
