{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <h1>Наши ценности</h1>
  <p>
    <b>Cамовыражение.</b><br>
    У наших пользователей должна<br>
    быть возможность создать что-то своё, выразить себя,<br>
    свои мысли и чувства.
  </p>
  <p>
    <b>Многообразие.</b><br>
    Мы уважаем и приветствуем разные<br>
    мнения и культуры. Блогикум — это место, объединяющее<br>
    самых разных людей. Поделитесь своим уникальным взглядом на мир.  
  </p>
  <p>
    <b>Творчество.</b><br>
    Не важно, в какой области вы творите,<br>
    это может быть литература, дизайн, программирование.<br>
    Наши инструменты помогут вам раскрыть талант максимально<br> 
    просто и комфортно.   
  </p>
  <p>
    <b>Личность.</b><br>
    Мы сохраним ваши сокровенные мысли в тайне.<br>
    Делитесь своей информацией только с теми, кого выбрали.<br>
    Как и насколько засекречивать вашу личную информацию —<br>
    определяете вы и только вы.
  </p>
{% endblock %}