{% extends "base.html" %}
{% block title %}
  Ой такую страницу пока не написали (((
{% endblock %}
{% block content %}
  <h1><b>Мы в стадии разработки, поэтому эта страница появится позже</b></h1>
  <p>
    <b>Блогикум</b> — это дом для творческих людей.<br>
    Это — сообщество людей, для которых нет грани между<br>
    ведением блога и дружбой в социальных сетях. 
  </p>
  <p>
    Дружба и рассказы о новых, неизведанных впечатлениях — вот <br>
    что вы найдете на нашем ресурсе.  Миллионы блогов по различным темам. <br>
    Путешествия, политики, развлечения, мода, мода, литература, дизайн и все <br>
    другие сферы человеческой деятельности. 
  </p>
  <p>
    Творчество, разнообразие и свобода взглядов и самовыражения — <br>
    основные черты наших пользователей.
  </p> 
    </p>
        <b>
            Предлагаем вернуться на <a href="{% url 'blog:index' %}" class="card-link">стартовую</a> страницу
        </b>
    </p>
{% endblock %}